@use './variables';

main {
    
    .about {
        background-color: variables.$bodyBackgroundOne;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        

        p {
            display: inline-block;
            width: 700px;
            margin-top: -20px;
        }
    }
}