@use './variables';

.contact {
    
    background-color: variables.$contactBackground;
    text-align: center;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    

        a:link,
        a:visited,
        a:hover,
        a:active { 
            text-decoration: none; 
        }
    }
}

footer {
    background-color: variables.$footerBackground;
    text-align: center;
}