@use './variables';

.contact {
    
    background-color: variables.$headerBackground;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        gap: 80px;
        margin-right: 35px;

        a {
            font-size: 40px;
        }
        
    
        a:link,
        a:visited,
        a:hover,
        a:active { 
            text-decoration: none;             
        }
    }

    p {
        width: 55%;
        font-size: 18px;
    }

}

footer {
    background-color: variables.$headerBackground;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

// Media Queries


@media (max-width: 400px) {
    footer {
        p {
            font-size: 12px;
        }
    }
}