@use './variables';

.contact {
    
    background-color: variables.$contactBackground;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        
    
        a:link,
        a:visited,
        a:hover,
        a:active { 
            text-decoration: none; 
        }
    }

    p {
        width: 60%;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        width: 50%;

        input[type=text] {
            border: none;
            padding: 15px;
        }

        textarea {
            border: none;
            padding: 15px;
        }

        ::placeholder {
            opacity: 0.2; 
        }

        button {
            border: none;
            background-color: #BC8F8F;
            padding: 15px;
            width: 20%;
            cursor: pointer;
        }
    }
}

footer {
    background-color: variables.$footerBackground;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}