@use './variables';

nav {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px white solid;
    position: absolute;
    z-index: 3;
    width: 100vw;
    padding: 0 40px;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        gap: 50px;

        a:link,
        a:visited,
        a:hover,
        a:active { 
         text-decoration: none; 
        }
    }

    .hamburger {

    display: none;
    cursor: pointer;

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: whitesmoke;
        }
    }

}

header {
    

    .indicator {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 2;

        .btn {
            display: inline-block;
            height: 15px;
            width: 15px;
            margin: 4px;
            border-radius: 15px;
            background: white;
            cursor: pointer;
            transition: 0.5s;
        }

        .active {
            height: 20px;
            width: 20px;
        }
    }
    

    .slideRow {
        // display: flex;
        // width: 100%;
        transition: 1s;

        .slideColumn {
            width: 100%;
            position: relative;
        }
    }

    .webDev {
        background-image: url("././Images/backgroundHeader.jpg");
        background-position: center;
        background-size: cover;
        text-align: center;
        height: 100vh;
    }

    .photographer {
        background-image: url("././Images/headerbackgroundoption.jpg");
        background-position: center;
        background-size: cover;
        text-align: center;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    

    button {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        cursor: pointer;
        border: rgb(182, 182, 182) 2px solid;
        color: rgb(182, 182, 182);
        background-color: transparent;
        padding: 10px;
        border-radius: 50%;
        transition: 0.4s ease-out;
        opacity: 0.2;
        font-size: 30px;
    }

    button:hover {
        transform: scale(1.3);
        transition: 0.4s ease-in;
        opacity: 0.5;
    }

    .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;

        h1 {
            margin-bottom: -20px;
        }
     
        p {
            display: flex;
            justify-content: space-evenly;
        }  
    }
}


// Media Queries

@media (max-width:800px) {

    nav {
    .hamburger {
        display: block;
        padding-top: 20px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: variables.$headerBackground;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.6s;
        z-index: 4;

            .navItem {
                margin: 16px 0;

                a {
                    font-size: 30px;
                    padding-right: 35px;
                }
            }
        }
    

    .navMenu.active {
        left: 0px;
        
        
    }
}
}



@media (max-width: 480px) {
    header {
        h1 {
            font-size: 40px;
        }

    }
}

