@use './variables';

.projects {

    background-color: variables.$headerBackground;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

    .carousel {
        width: 100vw;
        height: 100vh;
        position: relative;

        .carouselButton {
            position: absolute;
            z-index: 2;
            background: none;
            border: none;
            font-size: 4rem;
            top: 50%;
            transform: translateY(-50%);
            color: rgba(255, 255, 255, .5);
            cursor: pointer;
            border-radius: 50%;
            padding: 0 .5rem;
            background-color: rgba(0, 0, 0, .1);
        }

        .carouselButton:hover,
        .carouselButton:focus {
            color: white;
            background-color: rgba(0, 0, 0, .2);

        } 

        .carouselButton.prev {
            left: 1rem;
        }

        .carouselButton.next {
            right: 1rem;
        }

        .slide {
            position: absolute;
            inset: 0;
            opacity: 0;
        }

        .slide > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .slide[data-active] {
            opacity: 1;
        }

        .firstText {
            position: absolute;
            width: clamp(100px, 100%, 430px);
            transform: translate(120px, -555px);
            background-color: rgba(253, 176, 0, 0.3);
            padding: 35px;
            border-radius: 50%;
            z-index: 2;


            .links {
                display: flex;
                justify-content: space-evenly;
            }
        
            a {
                text-align: center;
                background-color: rgba(252, 252, 252, 0.5);
                padding: 10px 20px 10px 20px;
                transition: 0.4s ease-out;
                z-index: 2;
                display: flex;
            }
        
            a:hover {
                transform: scale(1.1);
                transition: 0.4s ease-in;
            }

            
        }

        .secondText {
            position: absolute;
            width: clamp(100px, 100%, 430px);
            transform: translate(955px, -700px);
            background-color: rgba(193, 204, 210, 0.5);
            padding: 50px;
            border-radius: 50%;
            z-index: 2;


            .links {
                display: flex;
                justify-content: space-evenly;
            }
        
            a {
                text-align: center;
                background-color: rgba(252, 252, 252, 0.5);
                padding: 10px 20px 10px 20px;
                transition: 0.4s ease-out;
                z-index: 2;
                display: flex;
            }
        
            a:hover {
                transform: scale(1.1);
                transition: 0.4s ease-in;
            }
        }

        .thirdText {
            position: absolute;
            width: clamp(100px, 100%, 430px);
            transform: translate(160px, -566px);
            background-color: rgba(248, 115, 111, 0.5);
            padding: 50px;
            border-radius: 50%;
            z-index: 2;

            .links {
                display: flex;
                justify-content: space-evenly;
            }
        
            a {
                text-align: center;
                background-color: rgba(252, 252, 252, 0.5);
                padding: 10px 20px 10px 20px;
                transition: 0.4s ease-out;
                z-index: 2;
                display: flex;
            }
        
            a:hover {
                transform: scale(1.1);
                transition: 0.4s ease-in;
            }
        }

        .fourthText {
            position: absolute;
            width: clamp(100px, 100%, 350px);
            transform: translate(295px, -490px);
            background-color: rgba(12, 173, 192, 0.2);
            padding: 30px;
            border-radius: 50%;
            z-index: 2;

            .links {
                display: flex;
                justify-content: space-evenly;
            }
        
            a {
                text-align: center;
                background-color: rgba(252, 252, 252, 0.5);
                padding: 10px 20px 10px 20px;
                transition: 0.4s ease-out;
                z-index: 2;
                display: flex;
            }
        
            a:hover {
                transform: scale(1.1);
                transition: 0.4s ease-in;
            }
        }

        .fifthText {
            position: absolute;
            width: clamp(100px, 100%, 430px);
            transform: translate(232px, -695px);
            background-color: rgba(2, 185, 175, 0.3);
            padding: 30px;
            border-radius: 50%;
            z-index: 2;

            .links {
                display: flex;
                justify-content: space-evenly;
            }
        
            a {
                text-align: center;
                background-color: rgba(252, 252, 252, 0.5);
                padding: 10px 20px 10px 20px;
                transition: 0.4s ease-out;
                z-index: 2;
                display: flex;
            }
        
            a:hover {
                transform: scale(1.1);
                transition: 0.4s ease-in;
            }
        }
    }

    // .wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     gap: 40px;
    // }

    .skillUsed {
        word-spacing: 40px;
        opacity: 0.5;
        margin: -8px 0 -8px 0;
    }


    a:link,
    a:visited,
    a:hover,
    a:active { 
        text-decoration: none; 
    }
}

// Media Queries

@media (max-width: 1390px) {
    .projects {
        .carousel {
            .secondText {
                transform: translate(740px, -980px);
            }


        }
    }
     
}

@media (max-width: 1200px) {
    .projects {
        .carousel {
            .secondText {
                transform: translate(630px, -980px);
            }


        }
    }
     
}

@media (max-width: 1080px) {

    .projects {
        .carousel {
            .firstText {
                background-color: rgba(1, 1, 1, 0.8);
            }

            .secondText {
                background-color: rgba(193, 204, 210, 0.8);
                transform: translate(500px, -980px);
            }

            .thirdText {
                background-color: rgba(193, 204, 210, 0.8);
            }

            .fourthText {
                background-color: rgba(12, 173, 192, 0.8);
            }

            .fifthText {
                background-color: rgba(1, 1, 1, 0.8);

            }
        }
    }
}

@media (max-width: 940px) {
    .projects {
        .carousel {
            .secondText {
                transform: translate(360px, -1000px);
            }


        }
    }
     
}

@media (max-width: 800px) {
    .projects {
        .carousel {
            .firstText {
                transform: translate(120px, -555px);
            }

            .secondText {
                transform: translate(150px, -999px);
            }

            .fourthText {
                transform: translate(90px, -555px);
            }

            .fifthText {
                transform: translate(90px, -555px);
            }
        }
    }
     
}

@media (max-width: 650px) {
    .projects {
        .carousel {
            .thirdText {
                transform: translate(90px, -555px);
            }


        }
    }
     
}

@media (max-width: 600px) {
    .projects {
        .carousel {
            .firstText {
                transform: translate(90px, -555px);
            }

            .secondText {
                transform: translate(90px, -999px);
            }


        }
    }
     
}

@media (max-width: 530px) {
    .projects {
        .carousel {
            .firstText {
                transform: translate(45px, -555px);
                width: 85%;
            }

            .secondText {
                transform: translate(50px, -999px);
                width: 85%;
            }

            .thirdText {
                transform: translate(55px, -515px);
                width: 85%;
            }

            .fourthText {
                width: 66%;
            }

            .fifthText {
                transform: translate(50px, -555px);
                width: 85%;
            }
        }
    }
     
}

// @media (max-width: 480px) {
//     .projects {
//         .carousel {
//             .firstText {
//                 transform: translate(45px, -555px);
//             }

//             .secondText {
//                 transform: translate(50px, -999px);
//             }

//             .thirdText {
//                 transform: translate(55px, -515px);
//             }

//             .fifthText {
//                 transform: translate(50px, -555px);
//             }
//         }
//     }
     
// }
