@use './variables';

.skills {

    background-color: variables.$bodyBackgroundTwo;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;  
        padding-top: 30px;  
        
        li {
            font-size: 80px;

            span {
                display: block;
                font-size: 20px;
            }
        }
    }
}
