@use './variables';

.skills {

    background-color: variables.$bodyBackgroundTwo;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;

      li {

        svg {
            vertical-align: text-bottom;
        }
      }
    
        
    }
}
