@use './variables';

// IMPORTED FONTS

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&family=Montserrat+Alternates:wght@900&display=swap');


a {
    font-family: variables.$buttonFont;
    font-size: 20px;
    color: whitesmoke;
}

h1 {
    font-family: variables.$headingFont;
    font-size: 70px;
    color: whitesmoke;
}

h2 {
    font-family: variables.$headingFont;
    font-size: 60px;
}

.skills, .contact, footer {
    color: whitesmoke;
}

h3 {
    font-family: variables.$bodyFont;
    font-size: 30px;
}

.head p {
    font-family: variables.$bodyFont;
    font-size: 25px;
    color: whitesmoke;
}

p {
    font-family: variables.$bodyFont;
    line-height: 35px;
}

button {
    font-family: variables.$buttonFont;
    font-size: 20px;
    transition: 0.4s ease-out;  
    
}

button:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in;
}

li {
    font-family: variables.$bodyFont;
}

.projects a {
    color: black;
}
