@use './variables';

// IMPORTED FONTS

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&family=Montserrat+Alternates:wght@900&family=Libre+Bodoni:wght@700&display=swap');


a {
    font-family: variables.$font;
    // font-family: variables.$buttonFont;
    font-size: 15px;
    color: whitesmoke;
}

h1 {
    font-family: variables.$buttonFont;
    font-size: clamp(2.5rem, 0.125rem + 7.9167vw, 8.4375rem);
    color: whitesmoke;
}

h2 {
    font-family: variables.$font;
    font-size: 60px;
}

.logo {
    font-family: variables.$font;
    color: whitesmoke;
    font-size: 25px;
    text-transform: uppercase;
}

.fontColour, .icons, .contactP, .footerP {
    color: black;
}

h3 {
    font-family: variables.$bodyFont;
    font-size: clamp(1.25rem, 0.7743rem + 2.2388vw, 3.125rem);
    text-transform: uppercase;
    color: whitesmoke;
}

.skillUsed {
    font-size: clamp(0.625rem, 0.3078rem + 1.4925vw, 1.875rem);
}

.info {
    font-size: clamp(0.625rem, 0.4664rem + 0.7463vw, 1.25rem);
}

.head p {
    font-family: variables.$bodyFont;
    font-size: clamp(0.625rem, 0.293rem + 1.5625vw, 1.5625rem);
    color: whitesmoke;
}

p {
    font-family: variables.$bodyFont;
    line-height: 35px;
    color: whitesmoke;
}

button {
    font-family: variables.$buttonFont;
    font-size: 20px;
    
}

li {
    font-family: variables.$bodyFont;
}

.projects a {
    color: black;
    font-size: clamp(0.625rem, 0.4664rem + 0.7463vw, 1.25rem);
}
