// COLOURS

$headerBackground: #DEB887;
$bodyBackgroundOne: #FFE4C4;
$bodyBackgroundTwo: #CD853F;
$contactBackground: #F4A460;
$footerBackground: #A0522D;

// FONT FAMILIES

$headingFont: "Montserrat Alternates";
$bodyFont: "Manrope";
$buttonFont: "Bebas Neue";