// COLOURS

$headerBackground: #DEB887;
$bodyBackgroundOne: #FFE4C4;
$bodyBackgroundTwo: #B08968;
$contactBackground: #DDB892;
$footerBackground: #E6CCB2;

// FONT FAMILIES

$headingFont: "Montserrat Alternates";
$bodyFont: "Manrope";
$buttonFont: "Bebas Neue";

