// COLOURS

$headerBackground: #242B31;
// $bodyBackgroundOne: #1A5B85;
// $bodyBackgroundTwo: #2BA84A;
// $contactBackground: #040F0F;
// $footerBackground: #FCFFFC;

// FONT FAMILIES

$headingFont: "Montserrat Alternates";
$bodyFont: "Manrope";
$buttonFont: "Bebas Neue";

