@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&family=Montserrat+Alternates:wght@900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

a {
  font-family: "Bebas Neue";
  font-size: 20px;
  color: whitesmoke;
}

h1 {
  font-family: "Montserrat Alternates";
  font-size: 70px;
  color: whitesmoke;
}

h2 {
  font-family: "Montserrat Alternates";
  font-size: 60px;
}

.skills, .contact, footer {
  color: whitesmoke;
}

h3 {
  font-family: "Manrope";
  font-size: 30px;
  text-transform: uppercase;
}

.head p {
  font-family: "Manrope";
  font-size: 25px;
  color: whitesmoke;
}

p {
  font-family: "Manrope";
  line-height: 35px;
}

button {
  font-family: "Bebas Neue";
  font-size: 20px;
}

li {
  font-family: "Manrope";
}

.projects a {
  color: black;
}

header {
  background-color: #DEB887;
  text-align: center;
  height: 100vh;
}
header nav {
  display: inline-block;
}
header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 150px;
}
header nav ul a:link,
header nav ul a:visited,
header nav ul a:hover,
header nav ul a:active {
  text-decoration: none;
}
header nav .hamburger {
  display: none;
  cursor: pointer;
}
header nav .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
}
header .head {
  text-align: center;
  margin-top: 200px;
}
header .head h1 {
  margin-bottom: -20px;
}
header .head button {
  margin-top: -10px;
  margin-bottom: 200px;
  border: none;
  background-color: #BC8F8F;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
header .head button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

@media (max-width: 800px) {
  header nav .hamburger {
    display: block;
    padding-top: 20px;
  }
  header nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  header nav .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  header nav .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  header nav .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #DEB887;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  header nav .navMenu .navItem {
    margin: 16px 0;
  }
  header nav .navMenu .navItem a {
    font-size: 40px;
  }
  header nav .navMenu.active {
    left: -18px;
  }
}
@media (max-width: 430px) {
  header h1 {
    font-size: 60px;
  }
}
main .about {
  background-color: #FFE4C4;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
main .about .wrapper {
  width: 50%;
}
main .about p {
  display: inline-block;
  margin-top: -20px;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  main .about .wrapper {
    width: 70%;
  }
}
@media (max-width: 500px) {
  main .about .wrapper {
    width: 90%;
  }
}
.skills {
  background-color: #B08968;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
}
.skills .iconFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills .iconFlex li {
  width: 15%;
}
.skills ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  gap: 20px;
}
.skills ul li {
  font-size: 80px;
}
.skills ul li span {
  display: block;
  font-size: 20px;
}

@media (max-width: 700px) {
  .skills .iconFlex ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15%;
  }
  .skills .iconFlex ul li span {
    display: none;
  }
}
@media (max-width: 520px) {
  .skills .iconFlex ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20%;
  }
  .skills .iconFlex ul li {
    margin-right: 50px;
  }
}
.projects {
  background-color: #FFE4C4;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.projects h2 {
  margin-bottom: 10px;
}
.projects .skillUsed {
  word-spacing: 40px;
  opacity: 0.3;
  margin: -8px 0 -8px 0;
}
.projects .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.projects a {
  text-align: center;
  background-color: #BC8F8F;
  padding: 10px 20px 10px 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.projects a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.projects .firstProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}
.projects .firstProject .firstImage {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .firstProject .firstText {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .secondProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 80%;
}
.projects .secondProject .secondImage {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .secondProject .secondText {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .thirdProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}
.projects .thirdProject .thirdImage {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .thirdProject .thirdText {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects a:link,
.projects a:visited,
.projects a:hover,
.projects a:active {
  text-decoration: none;
}

@media (max-width: 800px) {
  .projects .firstProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .projects .secondProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .projects .thirdProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
}
@media (max-width: 650px) {
  .projects .firstProject .firstImage {
    width: 90%;
  }
  .projects .firstProject .firstText {
    width: 80%;
  }
  .projects .secondProject .secondImage {
    width: 90%;
  }
  .projects .secondProject .secondText {
    width: 80%;
  }
  .projects .thirdProject .thirdImage {
    width: 90%;
  }
  .projects .thirdProject .thirdText {
    width: 80%;
  }
}
.contact {
  background-color: #DDB892;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 80px;
  margin-right: 35px;
}
.contact ul a {
  font-size: 40px;
}
.contact ul a:link,
.contact ul a:visited,
.contact ul a:hover,
.contact ul a:active {
  text-decoration: none;
}
.contact p {
  width: 55%;
  font-size: 18px;
}
.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 50%;
}
.contact form input[type=text] {
  border: none;
  padding: 15px;
}
.contact form textarea {
  border: none;
  padding: 15px;
}
.contact form ::-webkit-input-placeholder {
  opacity: 0.2;
}
.contact form ::-moz-placeholder {
  opacity: 0.2;
}
.contact form :-ms-input-placeholder {
  opacity: 0.2;
}
.contact form ::-ms-input-placeholder {
  opacity: 0.2;
}
.contact form ::placeholder {
  opacity: 0.2;
}
.contact form button {
  border: none;
  background-color: #BC8F8F;
  padding: 15px;
  width: 20%;
  cursor: pointer;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.contact form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

footer {
  background-color: #E6CCB2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 820px) {
  .contact .wrapper form {
    width: 80%;
  }
  .contact .wrapper form button {
    width: 50%;
  }
}
@media (max-width: 400px) {
  footer p {
    font-size: 12px;
  }
}