@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&family=Montserrat+Alternates:wght@900&family=Libre+Bodoni:wght@700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

a {
  font-family: "Libre Bodoni";
  font-size: 15px;
  color: whitesmoke;
}

h1 {
  font-family: "Bebas Neue";
  font-size: clamp(2.5rem, 0.125rem + 7.9167vw, 8.4375rem);
  color: whitesmoke;
}

h2 {
  font-family: "Libre Bodoni";
  font-size: 60px;
}

.logo {
  font-family: "Libre Bodoni";
  color: whitesmoke;
  font-size: 25px;
  text-transform: uppercase;
}

.fontColour, .icons, .contactP, .footerP {
  color: black;
}

h3 {
  font-family: "Manrope";
  font-size: clamp(1.25rem, 0.7743rem + 2.2388vw, 3.125rem);
  text-transform: uppercase;
  color: whitesmoke;
}

.skillUsed {
  font-size: clamp(0.625rem, 0.3078rem + 1.4925vw, 1.875rem);
}

.info {
  font-size: clamp(0.625rem, 0.4664rem + 0.7463vw, 1.25rem);
}

.head p {
  font-family: "Manrope";
  font-size: clamp(0.625rem, 0.293rem + 1.5625vw, 1.5625rem);
  color: whitesmoke;
}

p {
  font-family: "Manrope";
  line-height: 35px;
  color: whitesmoke;
}

button {
  font-family: "Bebas Neue";
  font-size: 20px;
}

li {
  font-family: "Manrope";
}

.projects a {
  color: black;
  font-size: clamp(0.625rem, 0.4664rem + 0.7463vw, 1.25rem);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px white solid;
  position: absolute;
  z-index: 3;
  width: 100vw;
  padding: 0 40px;
}
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 50px;
}
nav ul a:link,
nav ul a:visited,
nav ul a:hover,
nav ul a:active {
  text-decoration: none;
}
nav .hamburger {
  display: none;
  cursor: pointer;
}
nav .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
}

header .indicator {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  z-index: 2;
}
header .indicator .btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .indicator .active {
  height: 20px;
  width: 20px;
}
header .slideRow {
  -webkit-transition: 1s;
  transition: 1s;
}
header .slideRow .slideColumn {
  width: 100%;
  position: relative;
}
header .webDev {
  background-image: url("././Images/backgroundHeader.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
}
header .photographer {
  background-image: url("././Images/headerbackgroundoption.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}
header button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  border: rgb(182, 182, 182) 2px solid;
  color: rgb(182, 182, 182);
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  opacity: 0.2;
  font-size: 30px;
}
header button:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  opacity: 0.5;
}
header .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}
header .head h1 {
  margin-bottom: -20px;
}
header .head p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 800px) {
  nav .hamburger {
    display: block;
    padding-top: 20px;
  }
  nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  nav .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  nav .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #242B31;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 4;
  }
  nav .navMenu .navItem {
    margin: 16px 0;
  }
  nav .navMenu .navItem a {
    font-size: 30px;
    padding-right: 35px;
  }
  nav .navMenu.active {
    left: 0px;
  }
}
@media (max-width: 480px) {
  header h1 {
    font-size: 40px;
  }
}
main .about {
  background-color: #F5F5F5;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
main .about .wrapper {
  width: 50%;
}
main .about p {
  display: inline-block;
  margin-top: -20px;
  margin-bottom: 50px;
  color: #242B31;
}

@media (max-width: 800px) {
  main .about .wrapper {
    width: 70%;
  }
}
@media (max-width: 500px) {
  main .about .wrapper {
    width: 90%;
  }
}
.skills {
  background-color: #242B31;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
}
.skills .iconFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills .iconFlex li {
  width: 15%;
}
.skills ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  gap: 20px;
}
.skills ul li {
  font-size: 80px;
}
.skills ul li span {
  display: block;
  font-size: 20px;
}

@media (max-width: 700px) {
  .skills .iconFlex ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15%;
  }
  .skills .iconFlex ul li span {
    display: none;
  }
}
@media (max-width: 520px) {
  .skills .iconFlex ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20%;
  }
  .skills .iconFlex ul li {
    margin-right: 50px;
  }
}
.projects {
  background-color: #F5F5F5;
  padding-top: 100px;
  padding-bottom: 100px;
}
.projects ul {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.projects ul .proBox {
  width: clamp(250px, 100%, 700px);
  position: relative;
  list-style-type: none;
}
.projects ul .proBox img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.projects ul .proBox .firstText {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px 10px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.projects ul .proBox .firstText .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects ul .proBox .firstText a {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 10px 20px 10px 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.projects ul .proBox .firstText a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.projects ul .proBox .firstText:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.projects ul .proBox .secondText {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px 10px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.projects ul .proBox .secondText .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects ul .proBox .secondText a {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 10px 20px 10px 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.projects ul .proBox .secondText a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.projects ul .proBox .secondText:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.projects ul .proBox .thirdText {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px 10px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.projects ul .proBox .thirdText .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects ul .proBox .thirdText a {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 10px 20px 10px 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.projects ul .proBox .thirdText a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.projects ul .proBox .thirdText:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.projects ul .proBox .fourthText {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px 10px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.projects ul .proBox .fourthText .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects ul .proBox .fourthText a {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 10px 20px 10px 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.projects ul .proBox .fourthText a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.projects ul .proBox .fourthText:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.projects ul .proBox .fifthText {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px 10px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.projects ul .proBox .fifthText .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects ul .proBox .fifthText a {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 10px 20px 10px 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.projects ul .proBox .fifthText a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.projects ul .proBox .fifthText:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.skillUsed {
  word-spacing: 40px;
  opacity: 0.5;
  margin: -8px 0 -8px 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media (max-width: 500px) {
  .projects ul .proBox {
    height: 400px;
  }
}
@media (max-width: 350px) {
  .projects ul .proBox {
    height: 500px;
  }
  .projects ul .proBox .firstText, .projects ul .proBox .secondText, .projects ul .proBox .thirdText, .projects ul .proBox .fourthText, .projects ul .proBox .fifthText {
    padding: 100px 10px;
  }
}
.contact {
  background-color: #F5F5F5;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 80px;
  margin-right: 35px;
}
.contact ul a {
  font-size: 40px;
}
.contact ul a:link,
.contact ul a:visited,
.contact ul a:hover,
.contact ul a:active {
  text-decoration: none;
}
.contact p {
  width: 55%;
  font-size: 18px;
}

footer {
  background-color: #F5F5F5;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 400px) {
  footer p {
    font-size: 12px;
  }
}